In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\Sanjay\\OneDrive\\Desktop\\pandas\\employees2.csv")
print(df.head(n=2))
print(type(df))

   emp_no first_name last_name   hire_date  salary
0   10001     Georgi   Facello  1986-06-26   60117
1   10001     Georgi   Facello  1986-06-26   62102
<class 'pandas.core.frame.DataFrame'>

In [6]:
pd.set_option('display.max_rows',None)
df

     emp_no first_name    last_name   hire_date  salary
0     10001     Georgi      Facello  1986-06-26   60117
1     10001     Georgi      Facello  1986-06-26   62102
2     10001     Georgi      Facello  1986-06-26   66074
3     10001     Georgi      Facello  1986-06-26   66596
4     10001     Georgi      Facello  1986-06-26   66961
5     10001     Georgi      Facello  1986-06-26   71046
6     10001     Georgi      Facello  1986-06-26   74333
7     10001     Georgi      Facello  1986-06-26   75286
8     10001     Georgi      Facello  1986-06-26   75994
9     10001     Georgi      Facello  1986-06-26   76884
10    10001     Georgi      Facello  1986-06-26   80013
11    10001     Georgi      Facello  1986-06-26   81025
12    10001     Georgi      Facello  1986-06-26   81097
13    10001     Georgi      Facello  1986-06-26   84917
14    10001     Georgi      Facello  1986-06-26   85112
15    10001     Georgi      Facello  1986-06-26   85097
16    10001     Georgi      Facello  1986-06-26   88958
17    10001     Georgi      Facello  1986-06-26   98765
18    10002    Bezalel       Simmel  1985-11-21   65828
19    10002    Bezalel       Simmel  1985-11-21   65909
20    10002    Bezalel       Simmel  1985-11-21   67534
21    10002    Bezalel       Simmel  1985-11-21   69366
22    10002    Bezalel       Simmel  1985-11-21   71963
23    10002    Bezalel       Simmel  1985-11-21   72527
24    10003      Parto      Bamford  1986-08-28   40006
25    10003      Parto      Bamford  1986-08-28   43616
26    10003      Parto      Bamford  1986-08-28   43466
27    10003      Parto      Bamford  1986-08-28   43636
28    10003      Parto      Bamford  1986-08-28   43478
29    10003      Parto      Bamford  1986-08-28   43699
30    10003      Parto      Bamford  1986-08-28   43311
31    10004  Chirstian      Koblick  1986-12-01   40054
32    10004  Chirstian      Koblick  1986-12-01   42283
33    10004  Chirstian      Koblick  1986-12-01   42542
34    10004  Chirstian      Koblick  1986-12-01   46065
35    10004  Chirstian      Koblick  1986-12-01   48271
36    10004  Chirstian      Koblick  1986-12-01   50594
37    10004  Chirstian      Koblick  1986-12-01   52119
38    10004  Chirstian      Koblick  1986-12-01   54693
39    10004  Chirstian      Koblick  1986-12-01   58326
40    10004  Chirstian      Koblick  1986-12-01   60770
41    10004  Chirstian      Koblick  1986-12-01   62566
42    10004  Chirstian      Koblick  1986-12-01   64340
43    10004  Chirstian      Koblick  1986-12-01   67096
44    10004  Chirstian      Koblick  1986-12-01   69722
45    10004  Chirstian      Koblick  1986-12-01   70698
46    10004  Chirstian      Koblick  1986-12-01   74057
47    10005    Kyoichi     Maliniak  1989-09-12   78228
48    10005    Kyoichi     Maliniak  1989-09-12   82621
49    10005    Kyoichi     Maliniak  1989-09-12   83735
50    10005    Kyoichi     Maliniak  1989-09-12   85572
51    10005    Kyoichi     Maliniak  1989-09-12   85076
52    10005    Kyoichi     Maliniak  1989-09-12   86050
53    10005    Kyoichi     Maliniak  1989-09-12   88448
54    10005    Kyoichi     Maliniak  1989-09-12   88063
55    10005    Kyoichi     Maliniak  1989-09-12   89724
56    10005    Kyoichi     Maliniak  1989-09-12   90392
57    10005    Kyoichi     Maliniak  1989-09-12   90531
58    10005    Kyoichi     Maliniak  1989-09-12   91453
59    10005    Kyoichi     Maliniak  1989-09-12   94692
60    10006     Anneke      Preusig  1989-06-02   40000
61    10006     Anneke      Preusig  1989-06-02   42085
62    10006     Anneke      Preusig  1989-06-02   42629
63    10006     Anneke      Preusig  1989-06-02   45844
64    10006     Anneke      Preusig  1989-06-02   47518
65    10006     Anneke      Preusig  1989-06-02   47917
66    10006     Anneke      Preusig  1989-06-02   52255
67    10006     Anneke      Preusig  1989-06-02   53747
68    10006     Anneke      Preusig  1989-06-02   56032
69    10006     Anneke      Preusig  1989-06-02   58299
70    10006     Anneke      Preusig  1989-06-02   60098
71    10006     Anneke      Preusig  1989-06-02   59755
72    10007    Tzvetan    Zielinski  1989-02-10   56724
73    10007    Tzvetan    Zielinski  1989-02-10   60740
74    10007    Tzvetan    Zielinski  1989-02-10   62745
75    10007    Tzvetan    Zielinski  1989-02-10   63475
76    10007    Tzvetan    Zielinski  1989-02-10   63208
77    10007    Tzvetan    Zielinski  1989-02-10   64563
78    10007    Tzvetan    Zielinski  1989-02-10   68833
79    10007    Tzvetan    Zielinski  1989-02-10   70220
80    10007    Tzvetan    Zielinski  1989-02-10   73362
81    10007    Tzvetan    Zielinski  1989-02-10   75582
82    10007    Tzvetan    Zielinski  1989-02-10   79513
83    10007    Tzvetan    Zielinski  1989-02-10   80083
84    10007    Tzvetan    Zielinski  1989-02-10   84456
85    10007    Tzvetan    Zielinski  1989-02-10   88070
86    10008     Saniya     Kalloufi  1994-09-15   46671
87    10008     Saniya     Kalloufi  1994-09-15   48584
88    10008     Saniya     Kalloufi  1994-09-15   52668
89    10009     Sumant         Peac  1985-02-18   60929
90    10009     Sumant         Peac  1985-02-18   64604
91    10009     Sumant         Peac  1985-02-18   64780
92    10009     Sumant         Peac  1985-02-18   66302
93    10009     Sumant         Peac  1985-02-18   69042
94    10009     Sumant         Peac  1985-02-18   70889
95    10009     Sumant         Peac  1985-02-18   71434
96    10009     Sumant         Peac  1985-02-18   74612
97    10009     Sumant         Peac  1985-02-18   76518
98    10009     Sumant         Peac  1985-02-18   78335
99    10009     Sumant         Peac  1985-02-18   80944
100   10009     Sumant         Peac  1985-02-18   82507
101   10009     Sumant         Peac  1985-02-18   85875
102   10009     Sumant         Peac  1985-02-18   89324
103   10009     Sumant         Peac  1985-02-18   90668
104   10009     Sumant         Peac  1985-02-18   93507
105   10009     Sumant         Peac  1985-02-18   94443
106   10009     Sumant         Peac  1985-02-18   94409
107   10010  Duangkaew     Piveteau  1989-08-24   72488
108   10010  Duangkaew     Piveteau  1989-08-24   74347
109   10010  Duangkaew     Piveteau  1989-08-24   75405
110   10010  Duangkaew     Piveteau  1989-08-24   78194
111   10010  Duangkaew     Piveteau  1989-08-24   79580
112   10010  Duangkaew     Piveteau  1989-08-24   80324
113   10011       Mary        Sluis  1990-01-22   42365
114   10011       Mary        Sluis  1990-01-22   44200
115   10011       Mary        Sluis  1990-01-22   48214
116   10011       Mary        Sluis  1990-01-22   50927
117   10011       Mary        Sluis  1990-01-22   51470
118   10011       Mary        Sluis  1990-01-22   54545
119   10011       Mary        Sluis  1990-01-22   56753
120   10012   Patricio    Bridgland  1992-12-18   40000
121   10012   Patricio    Bridgland  1992-12-18   41867
122   10012   Patricio    Bridgland  1992-12-18   42318
123   10012   Patricio    Bridgland  1992-12-18   44195
124   10012   Patricio    Bridgland  1992-12-18   46460
125   10012   Patricio    Bridgland  1992-12-18   46485
126   10012   Patricio    Bridgland  1992-12-18   47364
127   10012   Patricio    Bridgland  1992-12-18   51122
128   10012   Patricio    Bridgland  1992-12-18   54794
129   10012   Patricio    Bridgland  1992-12-18   54423
130   10013  Eberhardt       Terkki  1985-10-20   40000
131   10013  Eberhardt       Terkki  1985-10-20   40623
132   10013  Eberhardt       Terkki  1985-10-20   40561
133   10013  Eberhardt       Terkki  1985-10-20   40306
134   10013  Eberhardt       Terkki  1985-10-20   43569
135   10013  Eberhardt       Terkki  1985-10-20   46305
136   10013  Eberhardt       Terkki  1985-10-20   47118
137   10013  Eberhardt       Terkki  1985-10-20   50351
138   10013  Eberhardt       Terkki  1985-10-20   49887
139   10013  Eberhardt       Terkki  1985-10-20   53957
140   10013  Eberhardt       Terkki  1985-10-20   57590
141   10013  Eberhardt       Terkki  1985-10-20   59228
142   10013  Eberhardt       Terkki  1985-10-20   59571
143   10013  Eberhardt       Terkki  1985-10-20   63274
144   10013  Eberhardt       Terkki  1985-10-20   63352
145   10013  Eberhardt       Terkki  1985-10-20   66744
146   10013  Eberhardt       Terkki  1985-10-20   68901
147   10014      Berni        Genin  1987-03-11   46168
148   10014      Berni        Genin  1987-03-11   48242
149   10014      Berni        Genin  1987-03-11   47921
150   10014      Berni        Genin  1987-03-11   50715
151   10014      Berni        Genin  1987-03-11   53228
152   10014      Berni        Genin  1987-03-11   53962
153   10014      Berni        Genin  1987-03-11   56937
154   10014      Berni        Genin  1987-03-11   59142
155   10014      Berni        Genin  1987-03-11   60598
156   10015   Guoxiang    Nooteboom  1987-07-02   40000
157   10016   Kazuhito  Cappelletti  1995-01-27   70889
158   10016   Kazuhito  Cappelletti  1995-01-27   72946
159   10016   Kazuhito  Cappelletti  1995-01-27   76826
160   10016   Kazuhito  Cappelletti  1995-01-27   76381
161   10016   Kazuhito  Cappelletti  1995-01-27   77935
162   10017  Cristinel    Bouloucos  1993-08-03   71380
163   10017  Cristinel    Bouloucos  1993-08-03   75538
164   10017  Cristinel    Bouloucos  1993-08-03   79510
165   10017  Cristinel    Bouloucos  1993-08-03   82163
166   10017  Cristinel    Bouloucos  1993-08-03   86157
167   10017  Cristinel    Bouloucos  1993-08-03   89619
168   10017  Cristinel    Bouloucos  1993-08-03   91985
169   10017  Cristinel    Bouloucos  1993-08-03   96122
170   10017  Cristinel    Bouloucos  1993-08-03   98522
171   10017  Cristinel    Bouloucos  1993-08-03   99651
172   10018   Kazuhide         Peha  1987-04-03   55881
173   10018   Kazuhide         Peha  1987-04-03   59206
174   10018   Kazuhide         Peha  1987-04-03   61361
175   10018   Kazuhide         Peha  1987-04-03   61648
176   10018   Kazuhide         Peha  1987-04-03   61217
177   10018   Kazuhide         Peha  1987-04-03   61244
178   10018   Kazuhide         Peha  1987-04-03   63286
179   10018   Kazuhide         Peha  1987-04-03   65739
180   10018   Kazuhide         Peha  1987-04-03   67519
181   10018   Kazuhide         Peha  1987-04-03   69276
182   10018   Kazuhide         Peha  1987-04-03   72585
183   10018   Kazuhide         Peha  1987-04-03   72804
184   10018   Kazuhide         Peha  1987-04-03   76957
185   10018   Kazuhide         Peha  1987-04-03   80305
186   10018   Kazuhide         Peha  1987-04-03   84541
187   10018   Kazuhide         Peha  1987-04-03   84672
188   10019    Lillian      Haddadi  1999-04-30   44276
189   10019    Lillian      Haddadi  1999-04-30   46946
190   10019    Lillian      Haddadi  1999-04-30   46775
191   10019    Lillian      Haddadi  1999-04-30   50032
192   10020     Mayuko      Warwick  1991-01-26   40000
193   10020     Mayuko      Warwick  1991-01-26   40647
194   10020     Mayuko      Warwick  1991-01-26   43800
195   10020     Mayuko      Warwick  1991-01-26   44927
196   10020     Mayuko      Warwick  1991-01-26   47017
197   10021      Ramzi         Erde  1988-02-10   55025
198   10021      Ramzi         Erde  1988-02-10   56399
199   10021      Ramzi         Erde  1988-02-10   59700
200   10021      Ramzi         Erde  1988-02-10   60851
201   10021      Ramzi         Erde  1988-02-10   61117
202   10021      Ramzi         Erde  1988-02-10   60708
203   10021      Ramzi         Erde  1988-02-10   63514
204   10021      Ramzi         Erde  1988-02-10   66249
205   10021      Ramzi         Erde  1988-02-10   70570
206   10021      Ramzi         Erde  1988-02-10   74759
207   10021      Ramzi         Erde  1988-02-10   77519
208   10021      Ramzi         Erde  1988-02-10   77237
209   10021      Ramzi         Erde  1988-02-10   79631
210   10021      Ramzi         Erde  1988-02-10   82295
211   10021      Ramzi         Erde  1988-02-10   84169
212   10022     Shahaf       Famili  1995-08-22   40000
213   10022     Shahaf       Famili  1995-08-22   39935
214   10022     Shahaf       Famili  1995-08-22   41348
215   10023      Bojan   Montemayor  1989-12-17   47883
216   10023      Bojan   Montemayor  1989-12-17   50319
217   10023      Bojan   Montemayor  1989-12-17   50113
218   10024    Suzette       Pettey  1997-05-19   83733
219   10024    Suzette       Pettey  1997-05-19   86715
220   10024    Suzette       Pettey  1997-05-19   91067
221   10024    Suzette       Pettey  1997-05-19   94701
222   10024    Suzette       Pettey  1997-05-19   96646
223   10025  Prasadram       Heyers  1987-08-17   40000
224   10025  Prasadram       Heyers  1987-08-17   44416
225   10025  Prasadram       Heyers  1987-08-17   48680
226   10025  Prasadram       Heyers  1987-08-17   50120
227   10025  Prasadram       Heyers  1987-08-17   50980
228   10025  Prasadram       Heyers  1987-08-17   54459
229   10025  Prasadram       Heyers  1987-08-17   54395
230   10025  Prasadram       Heyers  1987-08-17   56643
231   10025  Prasadram       Heyers  1987-08-17   57585
232   10025  Prasadram       Heyers  1987-08-17   57110
233   10025  Prasadram       Heyers  1987-08-17   57157
234   10026   Yongqiao     Berztiss  1995-03-20   47585
235   10026   Yongqiao     Berztiss  1995-03-20   51730
236   10026   Yongqiao     Berztiss  1995-03-20   53682
237   10026   Yongqiao     Berztiss  1995-03-20   56769
238   10026   Yongqiao     Berztiss  1995-03-20   60397
239   10026   Yongqiao     Berztiss  1995-03-20   64132
240   10026   Yongqiao     Berztiss  1995-03-20   65415
241   10026   Yongqiao     Berztiss  1995-03-20   66313
242   10027     Divier      Reistad  1989-07-07   40000
243   10027     Divier      Reistad  1989-07-07   39520
244   10027     Divier      Reistad  1989-07-07   42382
245   10027     Divier      Reistad  1989-07-07   43654
246   10027     Divier      Reistad  1989-07-07   43925
247   10027     Divier      Reistad  1989-07-07   45157
248   10027     Divier      Reistad  1989-07-07   45771
249   10027     Divier      Reistad  1989-07-07   46145
250   10028   Domenick     Tempesti  1991-10-22   48859
251   10028   Domenick     Tempesti  1991-10-22   50805
252   10028   Domenick     Tempesti  1991-10-22   52082
253   10028   Domenick     Tempesti  1991-10-22   54949
254   10028   Domenick     Tempesti  1991-10-22   55963
255   10028   Domenick     Tempesti  1991-10-22   57831
256   10028   Domenick     Tempesti  1991-10-22   58502
257   10029      Otmar       Herbst  1985-11-20   63163
258   10029      Otmar       Herbst  1985-11-20   66877
259   10029      Otmar       Herbst  1985-11-20   69211
260   10029      Otmar       Herbst  1985-11-20   70624
261   10029      Otmar       Herbst  1985-11-20   70294
262   10029      Otmar       Herbst  1985-11-20   70671
263   10029      Otmar       Herbst  1985-11-20   73510
264   10029      Otmar       Herbst  1985-11-20   75773
265   10029      Otmar       Herbst  1985-11-20   76067
266   10029      Otmar       Herbst  1985-11-20   76608
267   10029      Otmar       Herbst  1985-11-20   77777
268   10030      Elvis      Demeyer  1994-02-17   66956
269   10030      Elvis      Demeyer  1994-02-17   68393
270   10030      Elvis      Demeyer  1994-02-17   72795
271   10030      Elvis      Demeyer  1994-02-17   76453
272   10030      Elvis      Demeyer  1994-02-17   79290
273   10030      Elvis      Demeyer  1994-02-17   83327
274   10030      Elvis      Demeyer  1994-02-17   86634
275   10030      Elvis      Demeyer  1994-02-17   87027
276   10030      Elvis      Demeyer  1994-02-17   88806
277   10031    Karsten       Joslin  1991-09-01   40000
278   10031    Karsten       Joslin  1991-09-01   40859
279   10031    Karsten       Joslin  1991-09-01   41881
280   10031    Karsten       Joslin  1991-09-01   44191
281   10031    Karsten       Joslin  1991-09-01   47202
282   10031    Karsten       Joslin  1991-09-01   47606
283   10031    Karsten       Joslin  1991-09-01   50810
284   10031    Karsten       Joslin  1991-09-01   52675
285   10031    Karsten       Joslin  1991-09-01   54177
286   10031    Karsten       Joslin  1991-09-01   53873
287   10031    Karsten       Joslin  1991-09-01   56689
288   10032      Jeong      Reistad  1990-06-20   48426
289   10032      Jeong      Reistad  1990-06-20   49389
290   10032      Jeong      Reistad  1990-06-20   52000
291   10032      Jeong      Reistad  1990-06-20   53038
292   10032      Jeong      Reistad  1990-06-20   54336
293   10032      Jeong      Reistad  1990-06-20   53978
294   10032      Jeong      Reistad  1990-06-20   55090
295   10032      Jeong      Reistad  1990-06-20   57110
296   10032      Jeong      Reistad  1990-06-20   57926
297   10032      Jeong      Reistad  1990-06-20   57876
298   10032      Jeong      Reistad  1990-06-20   61709
299   10032      Jeong      Reistad  1990-06-20   65820

In [7]:
df.tail(n=4)

     emp_no first_name last_name   hire_date  salary
296   10032      Jeong   Reistad  1990-06-20   57926
297   10032      Jeong   Reistad  1990-06-20   57876
298   10032      Jeong   Reistad  1990-06-20   61709
299   10032      Jeong   Reistad  1990-06-20   65820

In [8]:
print(df.iloc[299])
print(type(df.iloc[299]))

emp_no             10032
first_name         Jeong
last_name        Reistad
hire_date     1990-06-20
salary             65820
Name: 299, dtype: object
<class 'pandas.core.series.Series'>

In [9]:
print(type(df['emp_no']))

<class 'pandas.core.series.Series'>

In [10]:
df.head(n=51)

    emp_no first_name last_name   hire_date  salary
0    10001     Georgi   Facello  1986-06-26   60117
1    10001     Georgi   Facello  1986-06-26   62102
2    10001     Georgi   Facello  1986-06-26   66074
3    10001     Georgi   Facello  1986-06-26   66596
4    10001     Georgi   Facello  1986-06-26   66961
5    10001     Georgi   Facello  1986-06-26   71046
6    10001     Georgi   Facello  1986-06-26   74333
7    10001     Georgi   Facello  1986-06-26   75286
8    10001     Georgi   Facello  1986-06-26   75994
9    10001     Georgi   Facello  1986-06-26   76884
10   10001     Georgi   Facello  1986-06-26   80013
11   10001     Georgi   Facello  1986-06-26   81025
12   10001     Georgi   Facello  1986-06-26   81097
13   10001     Georgi   Facello  1986-06-26   84917
14   10001     Georgi   Facello  1986-06-26   85112
15   10001     Georgi   Facello  1986-06-26   85097
16   10001     Georgi   Facello  1986-06-26   88958
17   10001     Georgi   Facello  1986-06-26   98765
18   10002    Bezalel    Simmel  1985-11-21   65828
19   10002    Bezalel    Simmel  1985-11-21   65909
20   10002    Bezalel    Simmel  1985-11-21   67534
21   10002    Bezalel    Simmel  1985-11-21   69366
22   10002    Bezalel    Simmel  1985-11-21   71963
23   10002    Bezalel    Simmel  1985-11-21   72527
24   10003      Parto   Bamford  1986-08-28   40006
25   10003      Parto   Bamford  1986-08-28   43616
26   10003      Parto   Bamford  1986-08-28   43466
27   10003      Parto   Bamford  1986-08-28   43636
28   10003      Parto   Bamford  1986-08-28   43478
29   10003      Parto   Bamford  1986-08-28   43699
30   10003      Parto   Bamford  1986-08-28   43311
31   10004  Chirstian   Koblick  1986-12-01   40054
32   10004  Chirstian   Koblick  1986-12-01   42283
33   10004  Chirstian   Koblick  1986-12-01   42542
34   10004  Chirstian   Koblick  1986-12-01   46065
35   10004  Chirstian   Koblick  1986-12-01   48271
36   10004  Chirstian   Koblick  1986-12-01   50594
37   10004  Chirstian   Koblick  1986-12-01   52119
38   10004  Chirstian   Koblick  1986-12-01   54693
39   10004  Chirstian   Koblick  1986-12-01   58326
40   10004  Chirstian   Koblick  1986-12-01   60770
41   10004  Chirstian   Koblick  1986-12-01   62566
42   10004  Chirstian   Koblick  1986-12-01   64340
43   10004  Chirstian   Koblick  1986-12-01   67096
44   10004  Chirstian   Koblick  1986-12-01   69722
45   10004  Chirstian   Koblick  1986-12-01   70698
46   10004  Chirstian   Koblick  1986-12-01   74057
47   10005    Kyoichi  Maliniak  1989-09-12   78228
48   10005    Kyoichi  Maliniak  1989-09-12   82621
49   10005    Kyoichi  Maliniak  1989-09-12   83735
50   10005    Kyoichi  Maliniak  1989-09-12   85572

In [11]:
print(df.iloc[[50,250]])
print(type(df.iloc[[50,250]]))

     emp_no first_name last_name   hire_date  salary
50    10005    Kyoichi  Maliniak  1989-09-12   85572
250   10028   Domenick  Tempesti  1991-10-22   48859
<class 'pandas.core.frame.DataFrame'>

In [12]:
x = df.iloc[[50,250]]
x['emp_no']
type(x['emp_no'])

pandas.core.series.Series

In [13]:
df.head(n=104)

     emp_no first_name  last_name   hire_date  salary
0     10001     Georgi    Facello  1986-06-26   60117
1     10001     Georgi    Facello  1986-06-26   62102
2     10001     Georgi    Facello  1986-06-26   66074
3     10001     Georgi    Facello  1986-06-26   66596
4     10001     Georgi    Facello  1986-06-26   66961
5     10001     Georgi    Facello  1986-06-26   71046
6     10001     Georgi    Facello  1986-06-26   74333
7     10001     Georgi    Facello  1986-06-26   75286
8     10001     Georgi    Facello  1986-06-26   75994
9     10001     Georgi    Facello  1986-06-26   76884
10    10001     Georgi    Facello  1986-06-26   80013
11    10001     Georgi    Facello  1986-06-26   81025
12    10001     Georgi    Facello  1986-06-26   81097
13    10001     Georgi    Facello  1986-06-26   84917
14    10001     Georgi    Facello  1986-06-26   85112
15    10001     Georgi    Facello  1986-06-26   85097
16    10001     Georgi    Facello  1986-06-26   88958
17    10001     Georgi    Facello  1986-06-26   98765
18    10002    Bezalel     Simmel  1985-11-21   65828
19    10002    Bezalel     Simmel  1985-11-21   65909
20    10002    Bezalel     Simmel  1985-11-21   67534
21    10002    Bezalel     Simmel  1985-11-21   69366
22    10002    Bezalel     Simmel  1985-11-21   71963
23    10002    Bezalel     Simmel  1985-11-21   72527
24    10003      Parto    Bamford  1986-08-28   40006
25    10003      Parto    Bamford  1986-08-28   43616
26    10003      Parto    Bamford  1986-08-28   43466
27    10003      Parto    Bamford  1986-08-28   43636
28    10003      Parto    Bamford  1986-08-28   43478
29    10003      Parto    Bamford  1986-08-28   43699
30    10003      Parto    Bamford  1986-08-28   43311
31    10004  Chirstian    Koblick  1986-12-01   40054
32    10004  Chirstian    Koblick  1986-12-01   42283
33    10004  Chirstian    Koblick  1986-12-01   42542
34    10004  Chirstian    Koblick  1986-12-01   46065
35    10004  Chirstian    Koblick  1986-12-01   48271
36    10004  Chirstian    Koblick  1986-12-01   50594
37    10004  Chirstian    Koblick  1986-12-01   52119
38    10004  Chirstian    Koblick  1986-12-01   54693
39    10004  Chirstian    Koblick  1986-12-01   58326
40    10004  Chirstian    Koblick  1986-12-01   60770
41    10004  Chirstian    Koblick  1986-12-01   62566
42    10004  Chirstian    Koblick  1986-12-01   64340
43    10004  Chirstian    Koblick  1986-12-01   67096
44    10004  Chirstian    Koblick  1986-12-01   69722
45    10004  Chirstian    Koblick  1986-12-01   70698
46    10004  Chirstian    Koblick  1986-12-01   74057
47    10005    Kyoichi   Maliniak  1989-09-12   78228
48    10005    Kyoichi   Maliniak  1989-09-12   82621
49    10005    Kyoichi   Maliniak  1989-09-12   83735
50    10005    Kyoichi   Maliniak  1989-09-12   85572
51    10005    Kyoichi   Maliniak  1989-09-12   85076
52    10005    Kyoichi   Maliniak  1989-09-12   86050
53    10005    Kyoichi   Maliniak  1989-09-12   88448
54    10005    Kyoichi   Maliniak  1989-09-12   88063
55    10005    Kyoichi   Maliniak  1989-09-12   89724
56    10005    Kyoichi   Maliniak  1989-09-12   90392
57    10005    Kyoichi   Maliniak  1989-09-12   90531
58    10005    Kyoichi   Maliniak  1989-09-12   91453
59    10005    Kyoichi   Maliniak  1989-09-12   94692
60    10006     Anneke    Preusig  1989-06-02   40000
61    10006     Anneke    Preusig  1989-06-02   42085
62    10006     Anneke    Preusig  1989-06-02   42629
63    10006     Anneke    Preusig  1989-06-02   45844
64    10006     Anneke    Preusig  1989-06-02   47518
65    10006     Anneke    Preusig  1989-06-02   47917
66    10006     Anneke    Preusig  1989-06-02   52255
67    10006     Anneke    Preusig  1989-06-02   53747
68    10006     Anneke    Preusig  1989-06-02   56032
69    10006     Anneke    Preusig  1989-06-02   58299
70    10006     Anneke    Preusig  1989-06-02   60098
71    10006     Anneke    Preusig  1989-06-02   59755
72    10007    Tzvetan  Zielinski  1989-02-10   56724
73    10007    Tzvetan  Zielinski  1989-02-10   60740
74    10007    Tzvetan  Zielinski  1989-02-10   62745
75    10007    Tzvetan  Zielinski  1989-02-10   63475
76    10007    Tzvetan  Zielinski  1989-02-10   63208
77    10007    Tzvetan  Zielinski  1989-02-10   64563
78    10007    Tzvetan  Zielinski  1989-02-10   68833
79    10007    Tzvetan  Zielinski  1989-02-10   70220
80    10007    Tzvetan  Zielinski  1989-02-10   73362
81    10007    Tzvetan  Zielinski  1989-02-10   75582
82    10007    Tzvetan  Zielinski  1989-02-10   79513
83    10007    Tzvetan  Zielinski  1989-02-10   80083
84    10007    Tzvetan  Zielinski  1989-02-10   84456
85    10007    Tzvetan  Zielinski  1989-02-10   88070
86    10008     Saniya   Kalloufi  1994-09-15   46671
87    10008     Saniya   Kalloufi  1994-09-15   48584
88    10008     Saniya   Kalloufi  1994-09-15   52668
89    10009     Sumant       Peac  1985-02-18   60929
90    10009     Sumant       Peac  1985-02-18   64604
91    10009     Sumant       Peac  1985-02-18   64780
92    10009     Sumant       Peac  1985-02-18   66302
93    10009     Sumant       Peac  1985-02-18   69042
94    10009     Sumant       Peac  1985-02-18   70889
95    10009     Sumant       Peac  1985-02-18   71434
96    10009     Sumant       Peac  1985-02-18   74612
97    10009     Sumant       Peac  1985-02-18   76518
98    10009     Sumant       Peac  1985-02-18   78335
99    10009     Sumant       Peac  1985-02-18   80944
100   10009     Sumant       Peac  1985-02-18   82507
101   10009     Sumant       Peac  1985-02-18   85875
102   10009     Sumant       Peac  1985-02-18   89324
103   10009     Sumant       Peac  1985-02-18   90668

In [14]:
df.iloc[100:103,0:5]

     emp_no first_name last_name   hire_date  salary
100   10009     Sumant      Peac  1985-02-18   82507
101   10009     Sumant      Peac  1985-02-18   85875
102   10009     Sumant      Peac  1985-02-18   89324

In [15]:
df.head(n=10)

   emp_no first_name last_name   hire_date  salary
0   10001     Georgi   Facello  1986-06-26   60117
1   10001     Georgi   Facello  1986-06-26   62102
2   10001     Georgi   Facello  1986-06-26   66074
3   10001     Georgi   Facello  1986-06-26   66596
4   10001     Georgi   Facello  1986-06-26   66961
5   10001     Georgi   Facello  1986-06-26   71046
6   10001     Georgi   Facello  1986-06-26   74333
7   10001     Georgi   Facello  1986-06-26   75286
8   10001     Georgi   Facello  1986-06-26   75994
9   10001     Georgi   Facello  1986-06-26   76884

In [16]:
df.iloc[[0,4,6,9],[1,3]]

  first_name   hire_date
0     Georgi  1986-06-26
4     Georgi  1986-06-26
6     Georgi  1986-06-26
9     Georgi  1986-06-26

In [17]:
df.head()

   emp_no first_name last_name   hire_date  salary
0   10001     Georgi   Facello  1986-06-26   60117
1   10001     Georgi   Facello  1986-06-26   62102
2   10001     Georgi   Facello  1986-06-26   66074
3   10001     Georgi   Facello  1986-06-26   66596
4   10001     Georgi   Facello  1986-06-26   66961

In [18]:
df.loc[0,"last_name"]

'Facello'

In [19]:
df

     emp_no first_name    last_name   hire_date  salary
0     10001     Georgi      Facello  1986-06-26   60117
1     10001     Georgi      Facello  1986-06-26   62102
2     10001     Georgi      Facello  1986-06-26   66074
3     10001     Georgi      Facello  1986-06-26   66596
4     10001     Georgi      Facello  1986-06-26   66961
5     10001     Georgi      Facello  1986-06-26   71046
6     10001     Georgi      Facello  1986-06-26   74333
7     10001     Georgi      Facello  1986-06-26   75286
8     10001     Georgi      Facello  1986-06-26   75994
9     10001     Georgi      Facello  1986-06-26   76884
10    10001     Georgi      Facello  1986-06-26   80013
11    10001     Georgi      Facello  1986-06-26   81025
12    10001     Georgi      Facello  1986-06-26   81097
13    10001     Georgi      Facello  1986-06-26   84917
14    10001     Georgi      Facello  1986-06-26   85112
15    10001     Georgi      Facello  1986-06-26   85097
16    10001     Georgi      Facello  1986-06-26   88958
17    10001     Georgi      Facello  1986-06-26   98765
18    10002    Bezalel       Simmel  1985-11-21   65828
19    10002    Bezalel       Simmel  1985-11-21   65909
20    10002    Bezalel       Simmel  1985-11-21   67534
21    10002    Bezalel       Simmel  1985-11-21   69366
22    10002    Bezalel       Simmel  1985-11-21   71963
23    10002    Bezalel       Simmel  1985-11-21   72527
24    10003      Parto      Bamford  1986-08-28   40006
25    10003      Parto      Bamford  1986-08-28   43616
26    10003      Parto      Bamford  1986-08-28   43466
27    10003      Parto      Bamford  1986-08-28   43636
28    10003      Parto      Bamford  1986-08-28   43478
29    10003      Parto      Bamford  1986-08-28   43699
30    10003      Parto      Bamford  1986-08-28   43311
31    10004  Chirstian      Koblick  1986-12-01   40054
32    10004  Chirstian      Koblick  1986-12-01   42283
33    10004  Chirstian      Koblick  1986-12-01   42542
34    10004  Chirstian      Koblick  1986-12-01   46065
35    10004  Chirstian      Koblick  1986-12-01   48271
36    10004  Chirstian      Koblick  1986-12-01   50594
37    10004  Chirstian      Koblick  1986-12-01   52119
38    10004  Chirstian      Koblick  1986-12-01   54693
39    10004  Chirstian      Koblick  1986-12-01   58326
40    10004  Chirstian      Koblick  1986-12-01   60770
41    10004  Chirstian      Koblick  1986-12-01   62566
42    10004  Chirstian      Koblick  1986-12-01   64340
43    10004  Chirstian      Koblick  1986-12-01   67096
44    10004  Chirstian      Koblick  1986-12-01   69722
45    10004  Chirstian      Koblick  1986-12-01   70698
46    10004  Chirstian      Koblick  1986-12-01   74057
47    10005    Kyoichi     Maliniak  1989-09-12   78228
48    10005    Kyoichi     Maliniak  1989-09-12   82621
49    10005    Kyoichi     Maliniak  1989-09-12   83735
50    10005    Kyoichi     Maliniak  1989-09-12   85572
51    10005    Kyoichi     Maliniak  1989-09-12   85076
52    10005    Kyoichi     Maliniak  1989-09-12   86050
53    10005    Kyoichi     Maliniak  1989-09-12   88448
54    10005    Kyoichi     Maliniak  1989-09-12   88063
55    10005    Kyoichi     Maliniak  1989-09-12   89724
56    10005    Kyoichi     Maliniak  1989-09-12   90392
57    10005    Kyoichi     Maliniak  1989-09-12   90531
58    10005    Kyoichi     Maliniak  1989-09-12   91453
59    10005    Kyoichi     Maliniak  1989-09-12   94692
60    10006     Anneke      Preusig  1989-06-02   40000
61    10006     Anneke      Preusig  1989-06-02   42085
62    10006     Anneke      Preusig  1989-06-02   42629
63    10006     Anneke      Preusig  1989-06-02   45844
64    10006     Anneke      Preusig  1989-06-02   47518
65    10006     Anneke      Preusig  1989-06-02   47917
66    10006     Anneke      Preusig  1989-06-02   52255
67    10006     Anneke      Preusig  1989-06-02   53747
68    10006     Anneke      Preusig  1989-06-02   56032
69    10006     Anneke      Preusig  1989-06-02   58299
70    10006     Anneke      Preusig  1989-06-02   60098
71    10006     Anneke      Preusig  1989-06-02   59755
72    10007    Tzvetan    Zielinski  1989-02-10   56724
73    10007    Tzvetan    Zielinski  1989-02-10   60740
74    10007    Tzvetan    Zielinski  1989-02-10   62745
75    10007    Tzvetan    Zielinski  1989-02-10   63475
76    10007    Tzvetan    Zielinski  1989-02-10   63208
77    10007    Tzvetan    Zielinski  1989-02-10   64563
78    10007    Tzvetan    Zielinski  1989-02-10   68833
79    10007    Tzvetan    Zielinski  1989-02-10   70220
80    10007    Tzvetan    Zielinski  1989-02-10   73362
81    10007    Tzvetan    Zielinski  1989-02-10   75582
82    10007    Tzvetan    Zielinski  1989-02-10   79513
83    10007    Tzvetan    Zielinski  1989-02-10   80083
84    10007    Tzvetan    Zielinski  1989-02-10   84456
85    10007    Tzvetan    Zielinski  1989-02-10   88070
86    10008     Saniya     Kalloufi  1994-09-15   46671
87    10008     Saniya     Kalloufi  1994-09-15   48584
88    10008     Saniya     Kalloufi  1994-09-15   52668
89    10009     Sumant         Peac  1985-02-18   60929
90    10009     Sumant         Peac  1985-02-18   64604
91    10009     Sumant         Peac  1985-02-18   64780
92    10009     Sumant         Peac  1985-02-18   66302
93    10009     Sumant         Peac  1985-02-18   69042
94    10009     Sumant         Peac  1985-02-18   70889
95    10009     Sumant         Peac  1985-02-18   71434
96    10009     Sumant         Peac  1985-02-18   74612
97    10009     Sumant         Peac  1985-02-18   76518
98    10009     Sumant         Peac  1985-02-18   78335
99    10009     Sumant         Peac  1985-02-18   80944
100   10009     Sumant         Peac  1985-02-18   82507
101   10009     Sumant         Peac  1985-02-18   85875
102   10009     Sumant         Peac  1985-02-18   89324
103   10009     Sumant         Peac  1985-02-18   90668
104   10009     Sumant         Peac  1985-02-18   93507
105   10009     Sumant         Peac  1985-02-18   94443
106   10009     Sumant         Peac  1985-02-18   94409
107   10010  Duangkaew     Piveteau  1989-08-24   72488
108   10010  Duangkaew     Piveteau  1989-08-24   74347
109   10010  Duangkaew     Piveteau  1989-08-24   75405
110   10010  Duangkaew     Piveteau  1989-08-24   78194
111   10010  Duangkaew     Piveteau  1989-08-24   79580
112   10010  Duangkaew     Piveteau  1989-08-24   80324
113   10011       Mary        Sluis  1990-01-22   42365
114   10011       Mary        Sluis  1990-01-22   44200
115   10011       Mary        Sluis  1990-01-22   48214
116   10011       Mary        Sluis  1990-01-22   50927
117   10011       Mary        Sluis  1990-01-22   51470
118   10011       Mary        Sluis  1990-01-22   54545
119   10011       Mary        Sluis  1990-01-22   56753
120   10012   Patricio    Bridgland  1992-12-18   40000
121   10012   Patricio    Bridgland  1992-12-18   41867
122   10012   Patricio    Bridgland  1992-12-18   42318
123   10012   Patricio    Bridgland  1992-12-18   44195
124   10012   Patricio    Bridgland  1992-12-18   46460
125   10012   Patricio    Bridgland  1992-12-18   46485
126   10012   Patricio    Bridgland  1992-12-18   47364
127   10012   Patricio    Bridgland  1992-12-18   51122
128   10012   Patricio    Bridgland  1992-12-18   54794
129   10012   Patricio    Bridgland  1992-12-18   54423
130   10013  Eberhardt       Terkki  1985-10-20   40000
131   10013  Eberhardt       Terkki  1985-10-20   40623
132   10013  Eberhardt       Terkki  1985-10-20   40561
133   10013  Eberhardt       Terkki  1985-10-20   40306
134   10013  Eberhardt       Terkki  1985-10-20   43569
135   10013  Eberhardt       Terkki  1985-10-20   46305
136   10013  Eberhardt       Terkki  1985-10-20   47118
137   10013  Eberhardt       Terkki  1985-10-20   50351
138   10013  Eberhardt       Terkki  1985-10-20   49887
139   10013  Eberhardt       Terkki  1985-10-20   53957
140   10013  Eberhardt       Terkki  1985-10-20   57590
141   10013  Eberhardt       Terkki  1985-10-20   59228
142   10013  Eberhardt       Terkki  1985-10-20   59571
143   10013  Eberhardt       Terkki  1985-10-20   63274
144   10013  Eberhardt       Terkki  1985-10-20   63352
145   10013  Eberhardt       Terkki  1985-10-20   66744
146   10013  Eberhardt       Terkki  1985-10-20   68901
147   10014      Berni        Genin  1987-03-11   46168
148   10014      Berni        Genin  1987-03-11   48242
149   10014      Berni        Genin  1987-03-11   47921
150   10014      Berni        Genin  1987-03-11   50715
151   10014      Berni        Genin  1987-03-11   53228
152   10014      Berni        Genin  1987-03-11   53962
153   10014      Berni        Genin  1987-03-11   56937
154   10014      Berni        Genin  1987-03-11   59142
155   10014      Berni        Genin  1987-03-11   60598
156   10015   Guoxiang    Nooteboom  1987-07-02   40000
157   10016   Kazuhito  Cappelletti  1995-01-27   70889
158   10016   Kazuhito  Cappelletti  1995-01-27   72946
159   10016   Kazuhito  Cappelletti  1995-01-27   76826
160   10016   Kazuhito  Cappelletti  1995-01-27   76381
161   10016   Kazuhito  Cappelletti  1995-01-27   77935
162   10017  Cristinel    Bouloucos  1993-08-03   71380
163   10017  Cristinel    Bouloucos  1993-08-03   75538
164   10017  Cristinel    Bouloucos  1993-08-03   79510
165   10017  Cristinel    Bouloucos  1993-08-03   82163
166   10017  Cristinel    Bouloucos  1993-08-03   86157
167   10017  Cristinel    Bouloucos  1993-08-03   89619
168   10017  Cristinel    Bouloucos  1993-08-03   91985
169   10017  Cristinel    Bouloucos  1993-08-03   96122
170   10017  Cristinel    Bouloucos  1993-08-03   98522
171   10017  Cristinel    Bouloucos  1993-08-03   99651
172   10018   Kazuhide         Peha  1987-04-03   55881
173   10018   Kazuhide         Peha  1987-04-03   59206
174   10018   Kazuhide         Peha  1987-04-03   61361
175   10018   Kazuhide         Peha  1987-04-03   61648
176   10018   Kazuhide         Peha  1987-04-03   61217
177   10018   Kazuhide         Peha  1987-04-03   61244
178   10018   Kazuhide         Peha  1987-04-03   63286
179   10018   Kazuhide         Peha  1987-04-03   65739
180   10018   Kazuhide         Peha  1987-04-03   67519
181   10018   Kazuhide         Peha  1987-04-03   69276
182   10018   Kazuhide         Peha  1987-04-03   72585
183   10018   Kazuhide         Peha  1987-04-03   72804
184   10018   Kazuhide         Peha  1987-04-03   76957
185   10018   Kazuhide         Peha  1987-04-03   80305
186   10018   Kazuhide         Peha  1987-04-03   84541
187   10018   Kazuhide         Peha  1987-04-03   84672
188   10019    Lillian      Haddadi  1999-04-30   44276
189   10019    Lillian      Haddadi  1999-04-30   46946
190   10019    Lillian      Haddadi  1999-04-30   46775
191   10019    Lillian      Haddadi  1999-04-30   50032
192   10020     Mayuko      Warwick  1991-01-26   40000
193   10020     Mayuko      Warwick  1991-01-26   40647
194   10020     Mayuko      Warwick  1991-01-26   43800
195   10020     Mayuko      Warwick  1991-01-26   44927
196   10020     Mayuko      Warwick  1991-01-26   47017
197   10021      Ramzi         Erde  1988-02-10   55025
198   10021      Ramzi         Erde  1988-02-10   56399
199   10021      Ramzi         Erde  1988-02-10   59700
200   10021      Ramzi         Erde  1988-02-10   60851
201   10021      Ramzi         Erde  1988-02-10   61117
202   10021      Ramzi         Erde  1988-02-10   60708
203   10021      Ramzi         Erde  1988-02-10   63514
204   10021      Ramzi         Erde  1988-02-10   66249
205   10021      Ramzi         Erde  1988-02-10   70570
206   10021      Ramzi         Erde  1988-02-10   74759
207   10021      Ramzi         Erde  1988-02-10   77519
208   10021      Ramzi         Erde  1988-02-10   77237
209   10021      Ramzi         Erde  1988-02-10   79631
210   10021      Ramzi         Erde  1988-02-10   82295
211   10021      Ramzi         Erde  1988-02-10   84169
212   10022     Shahaf       Famili  1995-08-22   40000
213   10022     Shahaf       Famili  1995-08-22   39935
214   10022     Shahaf       Famili  1995-08-22   41348
215   10023      Bojan   Montemayor  1989-12-17   47883
216   10023      Bojan   Montemayor  1989-12-17   50319
217   10023      Bojan   Montemayor  1989-12-17   50113
218   10024    Suzette       Pettey  1997-05-19   83733
219   10024    Suzette       Pettey  1997-05-19   86715
220   10024    Suzette       Pettey  1997-05-19   91067
221   10024    Suzette       Pettey  1997-05-19   94701
222   10024    Suzette       Pettey  1997-05-19   96646
223   10025  Prasadram       Heyers  1987-08-17   40000
224   10025  Prasadram       Heyers  1987-08-17   44416
225   10025  Prasadram       Heyers  1987-08-17   48680
226   10025  Prasadram       Heyers  1987-08-17   50120
227   10025  Prasadram       Heyers  1987-08-17   50980
228   10025  Prasadram       Heyers  1987-08-17   54459
229   10025  Prasadram       Heyers  1987-08-17   54395
230   10025  Prasadram       Heyers  1987-08-17   56643
231   10025  Prasadram       Heyers  1987-08-17   57585
232   10025  Prasadram       Heyers  1987-08-17   57110
233   10025  Prasadram       Heyers  1987-08-17   57157
234   10026   Yongqiao     Berztiss  1995-03-20   47585
235   10026   Yongqiao     Berztiss  1995-03-20   51730
236   10026   Yongqiao     Berztiss  1995-03-20   53682
237   10026   Yongqiao     Berztiss  1995-03-20   56769
238   10026   Yongqiao     Berztiss  1995-03-20   60397
239   10026   Yongqiao     Berztiss  1995-03-20   64132
240   10026   Yongqiao     Berztiss  1995-03-20   65415
241   10026   Yongqiao     Berztiss  1995-03-20   66313
242   10027     Divier      Reistad  1989-07-07   40000
243   10027     Divier      Reistad  1989-07-07   39520
244   10027     Divier      Reistad  1989-07-07   42382
245   10027     Divier      Reistad  1989-07-07   43654
246   10027     Divier      Reistad  1989-07-07   43925
247   10027     Divier      Reistad  1989-07-07   45157
248   10027     Divier      Reistad  1989-07-07   45771
249   10027     Divier      Reistad  1989-07-07   46145
250   10028   Domenick     Tempesti  1991-10-22   48859
251   10028   Domenick     Tempesti  1991-10-22   50805
252   10028   Domenick     Tempesti  1991-10-22   52082
253   10028   Domenick     Tempesti  1991-10-22   54949
254   10028   Domenick     Tempesti  1991-10-22   55963
255   10028   Domenick     Tempesti  1991-10-22   57831
256   10028   Domenick     Tempesti  1991-10-22   58502
257   10029      Otmar       Herbst  1985-11-20   63163
258   10029      Otmar       Herbst  1985-11-20   66877
259   10029      Otmar       Herbst  1985-11-20   69211
260   10029      Otmar       Herbst  1985-11-20   70624
261   10029      Otmar       Herbst  1985-11-20   70294
262   10029      Otmar       Herbst  1985-11-20   70671
263   10029      Otmar       Herbst  1985-11-20   73510
264   10029      Otmar       Herbst  1985-11-20   75773
265   10029      Otmar       Herbst  1985-11-20   76067
266   10029      Otmar       Herbst  1985-11-20   76608
267   10029      Otmar       Herbst  1985-11-20   77777
268   10030      Elvis      Demeyer  1994-02-17   66956
269   10030      Elvis      Demeyer  1994-02-17   68393
270   10030      Elvis      Demeyer  1994-02-17   72795
271   10030      Elvis      Demeyer  1994-02-17   76453
272   10030      Elvis      Demeyer  1994-02-17   79290
273   10030      Elvis      Demeyer  1994-02-17   83327
274   10030      Elvis      Demeyer  1994-02-17   86634
275   10030      Elvis      Demeyer  1994-02-17   87027
276   10030      Elvis      Demeyer  1994-02-17   88806
277   10031    Karsten       Joslin  1991-09-01   40000
278   10031    Karsten       Joslin  1991-09-01   40859
279   10031    Karsten       Joslin  1991-09-01   41881
280   10031    Karsten       Joslin  1991-09-01   44191
281   10031    Karsten       Joslin  1991-09-01   47202
282   10031    Karsten       Joslin  1991-09-01   47606
283   10031    Karsten       Joslin  1991-09-01   50810
284   10031    Karsten       Joslin  1991-09-01   52675
285   10031    Karsten       Joslin  1991-09-01   54177
286   10031    Karsten       Joslin  1991-09-01   53873
287   10031    Karsten       Joslin  1991-09-01   56689
288   10032      Jeong      Reistad  1990-06-20   48426
289   10032      Jeong      Reistad  1990-06-20   49389
290   10032      Jeong      Reistad  1990-06-20   52000
291   10032      Jeong      Reistad  1990-06-20   53038
292   10032      Jeong      Reistad  1990-06-20   54336
293   10032      Jeong      Reistad  1990-06-20   53978
294   10032      Jeong      Reistad  1990-06-20   55090
295   10032      Jeong      Reistad  1990-06-20   57110
296   10032      Jeong      Reistad  1990-06-20   57926
297   10032      Jeong      Reistad  1990-06-20   57876
298   10032      Jeong      Reistad  1990-06-20   61709
299   10032      Jeong      Reistad  1990-06-20   65820

In [20]:
x_df = df.loc[[0,4,7,10,50],["first_name","hire_date","emp_no"]]
x_df

   first_name   hire_date  emp_no
0      Georgi  1986-06-26   10001
4      Georgi  1986-06-26   10001
7      Georgi  1986-06-26   10001
10     Georgi  1986-06-26   10001
50    Kyoichi  1989-09-12   10005

In [21]:
df.loc[50:60,"emp_no":"hire_date"]

    emp_no first_name last_name   hire_date
50   10005    Kyoichi  Maliniak  1989-09-12
51   10005    Kyoichi  Maliniak  1989-09-12
52   10005    Kyoichi  Maliniak  1989-09-12
53   10005    Kyoichi  Maliniak  1989-09-12
54   10005    Kyoichi  Maliniak  1989-09-12
55   10005    Kyoichi  Maliniak  1989-09-12
56   10005    Kyoichi  Maliniak  1989-09-12
57   10005    Kyoichi  Maliniak  1989-09-12
58   10005    Kyoichi  Maliniak  1989-09-12
59   10005    Kyoichi  Maliniak  1989-09-12
60   10006     Anneke   Preusig  1989-06-02

In [22]:
df.index

RangeIndex(start=0, stop=300, step=1)

In [23]:
data_dict = {
    "name":["lavanya","jaanu","lakshith","dakshith"],
    "marks":[99,98,89,87]
}
data

NameError: name 'data' is not defined

In [ ]:
df2 = pd.DataFrame(data = data_dict )
df2

In [ ]:
df2.index = ["i","ii","iii","iv"]

In [ ]:
df2

In [ ]:
df2.set_index("name",inplace=True)

In [ ]:
df2

In [ ]:
df2.loc[["lavanya","jaanu"]]

In [ ]:
df2

In [ ]:
df2.index

In [ ]:
df2

In [ ]:
df2.loc[["lavanya","jaanu"]]

In [ ]:
df2.index

In [ ]:
df