In [2]:
import pandas as pd

In [3]:
series1 = pd.Series(data=[1,2,3,4,5])
series2 = pd.Series(data=[6,7,8,9,10])

In [5]:
print(series1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
print(series2)

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [9]:
addition = series1.add(series2)
print(addition)

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [11]:
subtraction = series1.sub(series2)
print(subtraction)

0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

In [12]:
multiplication = series1.mul(series2)
print(multiplication)

0     6
1    14
2    24
3    36
4    50
dtype: int64

In [20]:
division = series2.div(series1)
print(division),print(' ')
print("-------------------------------------")
division.index = ["i","ii","iii","iv","v"]
print(division)

0    6.000000
1    3.500000
2    2.666667
3    2.250000
4    2.000000
dtype: float64

-------------------------------------
i      6.000000
ii     3.500000
iii    2.666667
iv     2.250000
v      2.000000
dtype: float64

In [22]:
power = series2.pow(series1)
print(power)

0         6
1        49
2       512
3      6561
4    100000
dtype: int64

In [23]:
10**5

100000

In [24]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sanjay\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sanjay\anaconda3\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sanjay\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sanjay\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sanjay\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [25]:
#creating a empty series
empty_series = pd.Series()
print(empty_series)

Series([], dtype: float64)

C:\Users\Sanjay\AppData\Local\Temp\ipykernel_11248\1672380023.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_series = pd.Series()

In [26]:
# passing list into a series object
name_list = ["jaanu","lavanya","lakshith","dakshith"]
index_list = ["i","ii","iii","iv"]
name_series = pd.Series(data=name_list, index=index_list)
print(name_series)

i         jaanu
ii      lavanya
iii    lakshith
iv     dakshith
dtype: object

In [27]:
# how to replace the existing index
name_series.index = ["a","b","c","d"]
print(name_series)

a       jaanu
b     lavanya
c    lakshith
d    dakshith
dtype: object

In [28]:
# array --> attribute of Series class
convert_series_into_array = name_series.array

In [ ]:
name_series.values

In [ ]:
name_series.dtype

In [ ]:
name_series.shape