In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\Sanjay\\OneDrive\\Desktop\\sorting.csv")
df.head(150)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Sanjay\\OneDrive\\Desktop\\sorting.csv'

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
df.head(150)

In [ ]:
df.sort_values(by="first_name", ascending=True).head(50)

In [ ]:
df.sort_values(by="hire_date")

In [ ]:
df.sort_values(by="hire_date").max()

In [ ]:
df.head()

In [ ]:
df.sort_values(by="emp_no", ascending=False)

In [ ]:
df.sort_values(by=["first_name","last_name"])

In [ ]:
df.sort_values(by=["first_name","last_name"],ascending=[False,True], inplace=True)

In [ ]:
df

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df

In [ ]:
df.sort_index(ascending=True)

In [ ]:
df['last_name'].sort_values(ascending=True)

In [ ]:
df['last_name'].sort_values(ascending=False)

In [3]:
df2 = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 20],
    "Salary": [50000, 60000, 70000, 40000]
})

print(df2)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   20   40000

In [6]:
df2_sorted = df2.sort_values(by="Age", ascending=True)
print(df2_sorted)

      Name  Age  Salary
3    David   20   40000
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [7]:
df2

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   20   40000

In [12]:
df2_sorted = df2.sort_values(by="Age", ascending=False)
print(df2_sorted)

      Name  Age  Salary
2  Charlie   35   70000
1      Bob   30   60000
0    Alice   25   50000
3    David   20   40000

In [14]:
df3 = df2.sort_values(by="Age", ascending=False)
print(df3)

      Name  Age  Salary
2  Charlie   35   70000
1      Bob   30   60000
0    Alice   25   50000
3    David   20   40000

In [18]:
df3.sort_index(ascending=True)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   20   40000

In [16]:
df3

      Name  Age  Salary
2  Charlie   35   70000
1      Bob   30   60000
0    Alice   25   50000
3    David   20   40000

In [17]:
df3.sort_index(ascending=False)

      Name  Age  Salary
3    David   20   40000
2  Charlie   35   70000
1      Bob   30   60000
0    Alice   25   50000